<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rd.management.service.dao.admin.MasterDao">
	<!-- resultMap -->
	<resultMap id="BaseResultMap" type="com.rd.management.api.entity.admin.Master">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="account" property="account" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="birth" property="birth" jdbcType="TIMESTAMP" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="phone" property="phone" jdbcType="VARCHAR" />
		<result column="e_mail" property="email" jdbcType="VARCHAR" />
		<result column="head_image" property="headImage" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_time" property="lastTime" jdbcType="TIMESTAMP" />
		<result column="is_land" property="isLand" jdbcType="INTEGER" />
		<result column="is_frozen" property="isFrozen" jdbcType="INTEGER" />
		<result column="remark" property="goodsLogo" jdbcType="VARCHAR" />
	</resultMap>
	<!-- base_column -->
	<sql id="Base_Column">
		`id`,`code`,`account`,`password`,`user_name`,`birth`,`sex`,`phone`,`e_mail`,`head_image`,`create_time`,`last_time`,`is_land`,`is_frozen`,`remark`
	</sql>

	<!-- insert语句 -->
	<insert id="insert" parameterType="com.rd.management.api.entity.admin.Master"
		useGeneratedKeys="true" keyProperty="id">
		insert into t_system_master
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				`id`,
			</if>
			<if test="code != null">
				`code`,
			</if>
			<if test="account != null">
				`account`,
			</if>
			<if test="password != null">
				`password`,
			</if>
			<if test="userName != null">
				`user_name`,
			</if>
			<if test="birth != null">
				`birth`,
			</if>
			<if test="sex != null">
				`sex`,
			</if>
			<if test="phone != null">
				`phone`,
			</if>
			<if test="email != null">
				`e_mail`,
			</if>
			<if test="headImage != null">
				`head_image`,
			</if>
			<if test="createTime != null">
				`create_time`,
			</if>
			<if test="lastTime != null">
				`last_time`,
			</if>
			<if test="isLand != null">
				`is_land`,
			</if>
			<if test="isFrozen != null">
				`is_frozen`,
			</if>
			<if test="remark != null">
				`remark`,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="account != null">
				#{account,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="birth != null">
				#{birth,jdbcType=TIMESTAMP},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="headImage != null">
				#{headImage,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastTime != null">
				#{lastTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isLand != null">
				#{isLand,jdbcType=INTEGER},
			</if>
			<if test="isFrozen != null">
				#{isFrozen,jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- select语句 -->
	<select id="queryById" parameterType="long" resultMap="BaseResultMap">
		select *
		from `t_system_master` where id =
		#{id,jdbcType=BIGINT}
	</select>
	<select id="queryByAccount" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from `t_system_master` where account =
		#{account,jdbcType=VARCHAR}
	</select>
	<select id="queryByCode" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from `t_system_master` where code =
		#{code,jdbcType=VARCHAR}
	</select>

	<update id="updateByMasterInfo" parameterType="com.rd.management.api.entity.admin.Master">
		UPDATE `t_system_master`
		<set>
			<trim prefix="" suffix="" suffixOverrides=",">
				<if test="account != null">
					account = #{account,jdbcType=VARCHAR},
				</if>
				<if test="userName != null">
					user_name = #{userName,jdbcType=VARCHAR},
				</if>
				<if test="birth != null">
					birth = #{birth,jdbcType=TIMESTAMP},
				</if>
				<if test="sex != null">
					sex = #{sex,jdbcType=INTEGER},
				</if>
				<if test="phone != null">
					phone = #{phone,jdbcType=VARCHAR},
				</if>
				<if test="email != null">
					e_mail = #{email,jdbcType=VARCHAR},
				</if>
				<if test="remark != null">
					remark = #{remark,jdbcType=VARCHAR},
				</if>
			</trim>
		</set>
		WHERE 1=1
		<if test="id != null">
			AND id = #{id,jdbcType=BIGINT}
		</if>
		<if test="code != null">
			AND code = #{code,jdbcType=VARCHAR}
		</if>
	</update>
</mapper>