.margin-r-03{
	margin-right: 3px;
}

.margin-b-03{
	margin-bottom: 3px;
}

.margin-t-03{
	margin-top: 3px;
}

.margin-r-10{
	margin-right: 10px;
}
.margin-l-10{
	margin-left: 10px;
}
.width-65{
	width: 65px;
}
.up-model{
	z-index: 9999;
}
.ui-screen-top{
	z-index: 999999;
}
.ui-f-left{
	float: left;
}
.ui-f-right{
	float: right;
}